.navigation {
  display: flex;
  padding: 10px 30px;
  width: 100%;
  justify-content: space-between;
  background-color: var(--dashboard-color);
}

/* .bacground-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to bottom, rgba(0, 128, 0, 0.6), transparent);
  z-index: 1;
} */

.left-nav {
  display: flex;
}

.left-nav .logo {
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.left-nav .logo img {
  object-fit: cover;
  padding-right: 10px;
}

.left-nav .logo p {
  font-size: 1.2rem;
  color: white;
}

.left-nav .nav-links {
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.left-nav .nav-links ul {
  display: flex;
  list-style: none;
}

.left-nav .nav-links ul li {
  padding: 0 10px;
}

.left-nav .nav-links ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  position: relative;
  transition: color 0.3s ease;
}

.left-nav .nav-links ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 0%;
  height: 5px;
  border-radius: 20px;
  background-color: var(--color-texthover);
  transition: width 0.3s ease;
}

.left-nav .nav-links ul li a:hover {
  color: var(--color-texthover);
}

.left-nav .nav-links ul li a:hover::after {
  width: 100%;
}

.left-nav .nav-links ul li a.active {
  color: var(--color-texthover);
}

.right-nav {
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.right-nav .icons {
  display: flex;
}

.right-nav .icons .fav-icon {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  padding: 0 15px;
  border-right: 2px solid rgb(247, 247, 247);
  transition: color 0.3s ease;
}

.right-nav .icons .fav-icon:hover {
  color: var(--color-texthover);
}

.right-nav .user {
  display: flex;
  align-items: center;
  position: relative;
}

.right-nav .user .fav-icon {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  padding: 0 15px;
  transition: color 0.3s ease;
}

.right-nav .user .fav-icon:hover {
  color: var(--color-texthover);
}

/* Dropdown styling */
.profile-dropdown {
  position: absolute;
  top: 42px; /* Adjust depending on img height */
  right: 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 180px;
  padding: 15px;
  display: none;
  flex-direction: column;
  gap: 10px;
  animation: fadeSlide 0.3s ease forwards;
  z-index: 999;
}

.profile-info {
  font-size: 14px;
  color: #333;
}

.logout-btn {
  cursor: pointer;
  text-align: center;
  padding: 3px;
  background-color: #ef4444;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

.logout-btn:hover {
  background-color: #dc2626;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.right-nav .user p {
  padding-left: 15px;
  font-size: 0.8rem;
  color: #fff;
}

.right-nav .user img {
  cursor: pointer;
  margin-left: 15px;
  border-radius: 50%;
  width: 32px;
  object-fit: cover;
}

/* MAIN CONTENT */
.main-content {
  padding: 10px 20px;
  background-color: var(--dashboard-color);
  border-top: 1px solid var(--color-secondary);
}

.content {
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-bottom: 100px;
  padding-top: 35px;
}

.content .welcome {
  display: flex;
  gap: 10px;
}

.content .welcome .profile-text {
  display: flex;
  flex-direction: column;
}

.content .welcome .profile-icon {
  display: flex;
  justify-content: center;
}

.content .form-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content .form-filter {
  padding: 15px;
  color: #fff;
}

.content .form-filter #buttonFilter {
  cursor: pointer;
  width: 80px;
  padding: 7px 3px 7px 0;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: var(--dashbaord-color-button);
  transition: background-color 0.5s ease;
}

.content .form-filter #buttonFilter:hover {
  background-color: var(--color-button);
}

.content .form-filter #buttonFilter i {
  padding-right: 5px;
  color: white;
}

.content .form-filter .form-group {
  display: flex;
  width: 180px;
  align-items: center;
  background-color: #192338;
  border-radius: 10px;
  padding: 0 8px;
  transition: all 0.3s ease;
  border: 1px solid #7c7c7c;
  overflow: hidden;
}

.form-group:focus-within {
  border-color: var(--color-primary);
}

.form-group select {
  flex: 1;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 0.8rem;
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 5px 8px 5px;
}

.form-group select option {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

.content .form-filter .custom-select-wrapper {
  position: relative;
  display: inline-block;
}

.custom-select-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* so clicks go through to the select */
  color: #ffffff;
}

/* STATS */

.container .stats-content {
  display: flex;
  height: 130px;
  margin-top: -70px;
}

.container .stats-content .stats-section {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.container .stats-content .stat {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  width: 300px;
  gap: 20px;
  padding: 20px;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.container .stats-content .stat:hover {
  background-color: var(--dashbaord-color-button);

  /* When Hover to stat change the colors */
  i,
  .stat-content-text h2,
  .stat-content-text p,
  .stat-icon .setting {
    color: white;
  }
}

.container .stats-content .stats-section .stat-icon {
  position: absolute;
  top: 2px;
  right: 5px;
}

.container .stats-content .stats-section .stat-icon .setting {
  cursor: pointer;
  font-size: 1.5rem;
  color: gray;
}

.container .stats-content .stat i {
  margin: 0 10px;
  color: var(--color-primary);
  font-size: 2rem;
}

.container .stats-content .stat .stat-content-text p {
  color: rgb(150, 150, 150);
  font-weight: 500;
}
