/* BACKGROUND */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Overlay with gradient */
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px; /* Adjust height as needed */
  background: linear-gradient(to bottom, rgba(0, 128, 0, 0.6), transparent);
  z-index: 1;
}

/* HEADER SECTION */
.section-header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* HEADER SECTION - LEFT */
.section-header .header-left .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-header .header-left .logo .logo-text {
  color: var(--color-text-secondary);
  text-decoration: none;
}

.section-header .header-left .logo .short-text {
  color: var(--color-text-secondary);
  font-size: 0.7rem;
  text-decoration: none;
  display: none;
}

.section-header .header-left .logo .logo-text,
.section-header .header-left .logo .short-text {
  line-height: 1;
}

/* SIGN IN SECTION */
.section-attendance {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  gap: 20px;
}

.section-attendance .form-attendance {
  width: 450px;
  padding: 20px;
  background-color: rgba(252, 252, 252, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* RFID */
.rfid-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.section-attendance .form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-attendance .form-header .form-header-text {
  font-size: 1rem;
  font-weight: normal;
  color: var(--color-text);
  text-align: center;
}

.section-attendance .form-header .form-header-text p {
  font-size: 0.9rem;
  font-weight: bold;
}

.section-user-information {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: rgba(252, 252, 252, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.section-user-information.hidden {
  display: none;
}

.section-user-information.visible {
  display: flex;
}

.section-user-information.animate {
  animation: fadeIn 1s;
}

.section-user-information.animate-out {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.section-user-information .user-info {
  display: flex;
  flex-direction: row;
  position: relative;
}

.date-today {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 0.8rem;
}

.section-user-information .user-info .user-image {
  height: 150px;
}

.section-user-information .user-info img {
  height: 150px;
}

.section-user-information .user-info .user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.time-now {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 0.8rem;
}

.user-message {
  font-size: 0.8rem;
}

/* Small Screen */
@media (max-width: 990px) {
  /* BACKGROUND */
  .background {
    height: 100vh;
  }

  .section-header {
    top: 10px; /* Adjust header position for small screens */
  }

  .section-header .header-left .logo .logo-text {
    display: none; /* Hide logo text on small screens */
  }

  .section-header .header-left .logo .short-text {
    display: block; /* Show short text on small screens */
  }

  .section-attendance {
    height: 100vh; /* Adjust height for small screens */
  }

  .section-attendance .form-attendance {
    margin: 20px;
    padding: 10px;
  }
}
