/* GLOBAL CSS */

/* Importing Google Fonts */
/* POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* INTER, KARLA */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
/* LEXEND */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
/* SAINT ANNE LOGO COLOR PALETTE */
:root {
  --color-primary: #3fae60; /* Primary color */
  --color-secondary: #216734; /* Secondary color */
  --color-texthover: #f3c911; /* Text hover color */
  --color-button: #a48c20; /* Button color */
  --color-button-hover: #6fbe45; /* Button hover color */
  --color-text: #000; /* Text color */
  --color-text-secondary: #fff; /* Secondary text color */
  --color-background: #fffefe; /* Background color */
  --font-family: "Poppins", sans-serif; /* Font family */
}

/* DEFAULT STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  text-decoration: none;
  /* FOR FIREFOX SCROLL BAR */
}

::-webkit-scrollbar {
  width: 6px; /* Make it thin */
  height: 6px; /* If horizontal scrollbar appears */
}

::-webkit-scrollbar-track {
  background: transparent; /* Optional: transparent or light background */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* Your green scrollbar */
  border-radius: 20px; /* Smooth rounded edges */
}

/* ERROR MESSAGE STYLE */
.error-message {
  color: red;
  font-size: 0.9rem;
  margin: 5px 0;
  text-align: center;
}

.success-message {
  color: green;
  font-size: 0.9rem;
  margin: 5px 0;
  text-align: center;
}

/* Style for the loading message */
.loading-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: "Poppins", sans-serif;
}

/* Style for the spinner */
.spinner {
  border: 4px solid #3fae60; /* Light gray */
  border-top: 4px solid var(--color-secondary); /* Darker green */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

/* Keyframes for the spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style for the message text */
.loading-message p {
  font-size: 16px;
  font-weight: bold;
}
